*{
    box-sizing: border-box;
    margin: 0;  
   
}
body{
    width: 100%;
    height: 100%;
    /* background: #27282c !important; */
    background-image: url('./image/img1.jpg') ;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    background-size:cover;
}
.container {
    width: 100%;
    align-content: center;
    margin-top:30px;
} 
.item{
    align-self:auto;
}
h1{
    text-align: center;
    background: -webkit-linear-gradient(blue, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container-one {
    margin-top:20px;
    justify-content: space-around;
    display: flex;
    gap: 10px;
    gap: 20px 30px; /* row-gap column gap */
    row-gap: 10px;
    column-gap: 20px;
} 
.item-left{
    /* display: flex; */
    max-height: 50px;
    padding-top: 100px;
}
.item-right{
    /* display: flex; */
    max-height: 50px;
    padding-top: 100px;
}
.heading-left{
    background: -webkit-linear-gradient(#fff, red) ;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  
}
.heading-center{
    color:#fff;
    text-align: center;
}
.result{
    color:#fff;
    font-size: 30px;
    text-align: center;
    text-transform: capitalize;
}
.movesleft{
    color:#fff;
    font-size: 25px;
    text-align: center;
    text-transform: capitalize;
}
.heading-right{
    background: -webkit-linear-gradient(#fff, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
p{
    color: #fff;
    text-align: center;
    justify-content: center;
    font-size: 20px;
}
.container-two{
    position: relative;
    align-content: center;
    justify-content: space-around;
    display: flex;
    gap: 10px;
    gap: 20px 30px; /* row-gap column gap */
    row-gap: 10px;
    column-gap: 20px;
    margin-top: 35%;
}
button{
    width:100px;
    height: 45px;
    /* background: -webkit-linear-gradient(#fff, blue); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color:white;
    border-color: #fff;
    font-size: 25px;
}
.btnIDone:hover{
    width:120px;
    height: 55px;
    box-shadow: 0 0 55px red;
}
.btnIDtwo:hover{
    width:120px;
    height: 55px;
    box-shadow: 0 0 55px #fff; 
}
.btnIDthree:hover{
    width:120px;
    height: 55px;
    box-shadow: 0 0 55px blue;
}
.image{
   /* visibility: hidden; */
    padding-top: 40px;
    width: 150px;
   
}
#first, #second, #third{
    display: none;
}
.move{
    color: #fff;
    font-size: 30px;
}
